<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Recipe Box</title>
        <h2>Caswell and Coopers</h2>
    </head>
    <body>
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>
